.todos__header {
  display: flex;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.todos__header h1 {
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: #000;
}
.todos__header h1 svg {
  margin-right: 0.2rem;
}

.todos__header-btn {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.todos__header-btn svg {
  margin-right: 0.2rem;
}

.todos__header-btn button {
  display: flex;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  color: #000;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  transition: all 0.3ms ease-in;
}
.todos__header-btn button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.todos__container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.todos__article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  border-radius: 0.5rem;
  background-color: #ebecf0;
  box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  min-height: 15rem;
}
.todos__article:hover .todos__article-head .buttons {
  visibility: visible;
}

.todos__article-head {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.todos__article-head h2 {
  font-size: 1.2rem;
  font-weight: bold;
  flex: 1;
}

.todos__article-head .buttons {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  visibility: hidden;
  cursor: pointer;
}
.todos__article-head .buttons svg {
  display: block;
  transition: all 200ms ease-in-out;
}
.todos__article-head .buttons svg:hover {
  transform: scale(1.2);
}

.todos__add-btn {
  padding: 1rem;
  border: 0 none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: transparent;
  transition: all 1ms ease-in;
}
.todos__add-btn:hover {
  background-color: #5ffbf1;
}

.todos__board {
  padding: 0rem 1rem 1rem;
  background-color: transparent;
  flex: 1 1 auto;
  max-height: 20rem;
  overflow-y: auto;
}

.todos__board::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #dfe1e6;
}

.todos__board::-webkit-scrollbar {
  width: 10px;
  background-color: #dfe1e6;
}

.todos__board::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c1c7d0;
}

.todos__empty {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.todos__list {
  position: relative;
  margin-bottom: 0.5rem;
  background-color: #fff;
  padding: 1.5rem 1rem 2.5rem;
  border-radius: 0.5rem;
  border-bottom: 2px solid #d9dce2;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 2px solid transparent;
}

.todos__list.edit {
  border: 2px solid red;
}

.todos__list .example {
  color: #c1c7d0;
}
.todos__list .todos__edit {
  position: relative;
  border: 0 none;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  width: 100%;
  outline: 0 none;
  letter-spacing: 0.2px;
}

.todos__list:hover .buttons {
  visibility: visible;
}
.todos__list .buttons {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  visibility: hidden;
}

.todos__list .buttons button {
  outline: 0 none;
  background-color: transparent;
  border: 0 none;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.todos__list .buttons button:hover {
  transform: scale(1.2);
}

.todos__date {
  position: absolute;
  right: 0.5rem;
  bottom: 0.8rem;
  text-align: right;
  display: block;
  font-size: 11px;
}
.todos__date span {
  padding: 0.2rem 0.5rem;
  background-color: #ebecf0;
  border-radius: 0.5rem;
}

.todos__date span.edit {
  margin-right: 0.5rem;
  background-color: #69bff8;
}

.todos__form input {
  width: 90%;
  border: 0 none;
  padding: 5%;
  margin: 0;
  font-size: 1rem;
  outline: none;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #46eefa;
}
